.Subreddits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
}

.Subreddits ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}