.Subreddit {
    border-radius: 1rem; 
    height: 5rem;
    width: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* flex: 1; */
    /* flex-direction: column; */
}

.Subreddit:has(.selected) {
   box-shadow: none;
   transform-origin: right;
}

.subredditButton {
    border-radius: 1rem; 
    border: none;
    padding: 0.5rem 0 0.5rem 0.8rem;
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(62, 62, 68);
}

.subredditButton:hover {
    background-color: #61bde749;
    border-color: buttonborder;
    outline: 2px solid buttonborder;
    color: rgb(222, 221, 222);
    text-transform: uppercase;
    
}

.Subreddit button img {
    height: 3rem;
    width: auto;
    border-radius: 50%;
}

.Subreddit {
        margin-bottom: 10px;
        cursor: pointer;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    .Subreddit.clicked {
        opacity: 0;
        transform: translateX(100vw);
    }

.selected {
    background-color: #61bde7;
    box-shadow: none;
    border: 3px solid #062c3e !important;
    padding-block: 1px;
    border-style: outset;
    border-color: buttonborder;
    font-weight: bolder;
    color: black;
    transform: translateX(-1.5rem);
}  

.subredditButton.selected:hover {
    background-color: #98a26c59;
    outline: none;
}  



.scale-in-hor-right {
	-webkit-animation: scale-in-hor-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes scale-in-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 0;
    }
    50%{
        -webkit-transform: scaleX(1.2);
              transform: scaleX(1.2);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 0.5;
    }

    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  

  .slide-in-elliptic-right-fwd {
	-webkit-animation: slide-in-elliptic-right-fwd 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-right-fwd 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-31 11:25:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-right-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-right-fwd {
        0% {
          -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
                  transform: translateX(800px) rotateY(-30deg) scale(0);
          -webkit-transform-origin: -100% 50%;
                  transform-origin: -100% 50%;
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) rotateY(0) scale(1);
                  transform: translateX(0) rotateY(0) scale(1);
          -webkit-transform-origin: -1800px 50%;
                  transform-origin: -1800px 50%;
          opacity: 1;
        }
      }
      @keyframes slide-in-elliptic-right-fwd {
        0% {
          -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
                  transform: translateX(800px) rotateY(-30deg) scale(0);
          -webkit-transform-origin: -100% 50%;
                  transform-origin: -100% 50%;
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) rotateY(0) scale(1);
                  transform: translateX(0) rotateY(0) scale(1);
          -webkit-transform-origin: -1800px 50%;
                  transform-origin: -1800px 50%;
          opacity: 1;
        }
      }
      