.Comments {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 3rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
   /* background-color: #d5d5b6; */
   border-top: 2px solid #d5d5b69c;
   
}

.Comments::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 1000px) {

    .Comments {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0.1rem;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
       /* background-color: #d5d5b6; */
       border-top: 2px solid #d5d5b69c;
       
    }
  
}