.Posts {
    display: flex;
    flex-direction: column;
    gap: clamp(0.4rem, 0.199rem + 0.504vw, 1rem);
    padding: 0.5rem clamp(0.5rem, -0.291rem + 1.757vw, 6rem) 0.5rem 0.5rem;
    overflow-y: scroll; /* Permet le défilement vertical */
    scrollbar-width: none; /* Cache la barre de défilement pour les navigateurs qui prennent en charge la propriété */
    -ms-overflow-style: none;
}
.Posts::-webkit-scrollbar {
    display: none; /* Cache la barre de défilement pour les navigateurs WebKit (Chrome, Safari) */
}
.posts-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem; /* empeche l icone loading de passer en dessous du viewport height sur les petits telephones*/
}
.spinner {
    font-size: 16rem;
    animation: spin 1s ease-out infinite;
}
@keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
        
}

@media only screen and (max-width: 1000px) {

    .Posts {
        display: flex;
        flex-direction: column;


        /* border: none; */
        overflow-y: scroll; /* Permet le défilement vertical */
        scrollbar-width: none; /* Cache la barre de défilement pour les navigateurs qui prennent en charge la propriété */
        -ms-overflow-style: none;
        /* margin: 0 5rem; */
    }
    .Posts::-webkit-scrollbar {
        display: none; /* Cache la barre de défilement pour les navigateurs WebKit (Chrome, Safari) */
    }
    .post-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
    .spinner {
        font-size: 13rem;
        animation: spin 1s ease-out infinite;
    }
    
}