.Posts {
    display: flex;
    flex-direction: column;
    gap: clamp(0.4rem, 0.199rem + 0.504vw, 1rem);
    padding: 0.5rem clamp(0.5rem, -0.291rem + 1.757vw, 6rem) 0.5rem 0.5rem;
    overflow-y: scroll; /* Permet le défilement vertical */
    scrollbar-width: none; /* Cache la barre de défilement pour les navigateurs qui prennent en charge la propriété */
    -ms-overflow-style: none;
}
.Posts::-webkit-scrollbar {
    display: none; /* Cache la barre de défilement pour les navigateurs WebKit (Chrome, Safari) */
}

.no-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 1.5rem + 1.5vw, 3rem);
    color: var(--color-text);
    /* margin-top: 2rem; */
}
.posts-loading {
    display: flex;
    flex-direction: column;
    /* padding-top: clamp(10vh, 35vh - 40vw, 30vh); */
    justify-content: center;
    align-items: center;
    /* position: fixed;
    top: 8vh; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; 
    max-height: 92vh; */
}
.spinner {
    /* flex: 1 1 auto; */
    font-size: clamp(11rem, 10.281rem + 3.597vw, 16rem);
    animation: spin 1s ease-out infinite;
}
@keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
        
}

@media only screen and (max-width: 1000px) {

    .Posts {
        display: flex;
        flex-direction: column;


        /* border: none; */
        overflow-y: scroll; /* Permet le défilement vertical */
        scrollbar-width: none; /* Cache la barre de défilement pour les navigateurs qui prennent en charge la propriété */
        -ms-overflow-style: none;
        /* margin: 0 5rem; */
    }
    .Posts::-webkit-scrollbar {
        display: none; /* Cache la barre de défilement pour les navigateurs WebKit (Chrome, Safari) */
    }
    .posts-loading {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.post-section.spoiler {
    
}