.Posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    overflow-y: scroll; /* Permet le défilement vertical */
    scrollbar-width: none; /* Cache la barre de défilement pour les navigateurs qui prennent en charge la propriété */
    -ms-overflow-style: none;
    /* margin: 0 5rem; */
}

.Posts::-webkit-scrollbar {
    display: none; /* Cache la barre de défilement pour les navigateurs WebKit (Chrome, Safari) */
}