.Post {
display: flex;
flex-direction: column;
width: 100%;
box-shadow: 1px 2px 4px rgb(40, 38, 43);
padding: clamp(0.2rem, 0.142rem + 0.288vw, 0.6rem);
background-color: rgba(70, 62, 75, 0.2);
border-radius: 0.5rem;
}
.Post:hover {
box-shadow: none;
outline: 2px solid rgb(78, 79, 87);
}
.Post:hover .icon-comments {
color: rgb(85, 255, 66);
}
.Post:hover:has(.Comment:hover) {
box-shadow: none;
}
.post-header {
display: flex;
justify-content: space-between;
padding: 0.3rem;
}
.post-header h2 {
font-size: clamp(1.1rem, 1.028rem + 0.36vw, 1.6rem);
color: #30303f;
}
.post-section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
padding: 0.3rem;
}
.post-content {
display: flex;
gap: 1rem;
}
.Post:hover .post-content {
a:link {
    color: rgb(15, 15, 133);
}
a:visited {
    color: rgb(103, 91, 131);
}
a:hover {
    color: rgb(17, 17, 190);
}
a:active {
    color: rgb(137, 137, 201);
}
}
.Post .post-content {
padding: 0.5rem;
word-break: break-word;
display: flex;
flex-direction: column;
align-items: center;

a:link {
    color: rgb(3, 3, 136);
}

a:visited {
    color: rgb(3, 3, 135);
}

a:hover {
    color: rgb(19, 19, 216);
}

a:active {
    color: rgb(137, 137, 201);
}
}
.post-footer {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
gap: 0.5rem;
padding: 0.3rem;
}
.post-footer > div {
display: flex;
align-items: center;
}
.post-footer > div p {
    font-size: clamp(0.8rem, 0.728rem + 0.36vw, 1.3rem);
}
.grandstander-title {
font-family: "Grandstander", cursive;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
}
.patrick-hand-sc-regular {
font-family: "Patrick Hand SC", cursive;
font-weight: 500;
font-style: normal;
}
.votes {
display: flex;
justify-content: center;
align-items: center;
}
.icon-newtab {
color: rgb(150, 150, 150);
}
[class^="icon-"] {
font-size: clamp(0.8rem, 0.728rem + 0.36vw, 1.3rem);
}
.votes .icon-ups {
color: rgb(50, 54, 50);
/* margin-left: 1rem; */
}
.spoiler {
color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);
padding: 0.5rem;
border-radius: 0.5rem;
font-size: 1.2rem;
}
.spoiler:hover {
background-color: rgb(230, 183, 183);
}
.md {
display: flex;
flex-direction: column;
gap: 0.3rem;
}
.md code {
overflow-wrap: break-word;
word-wrap: break-word;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
padding: 0.2rem;
border-radius: 0.2rem;
font-size: 1rem;
}
.md p {
word-break: break-word;
font-size: clamp(1rem, 0.856rem + 0.719vw, 2rem);
line-height: 1;
overflow-wrap: break-word;
}
.comments {
display: flex;
gap: 0.2rem;
padding: 0.1rem;
align-items: center;
}
.comments .icon-comments {
color: rgb(0, 185, 67);
align-self: center;
}
.author {
display: flex;
gap: 0.4rem;
padding: 0.1rem;
align-items: center;
white-space: nowrap /* avoid - to pass to line*/
}
.icon-author {
color: rgb(179, 42, 7);
flex-shrink: 0; /* Empêche l'icône de rétrécir */
  /* min-width: 1em; 
  min-height: 1em; */
}
.img-single, .Post img, .Post video {
max-width: 100%;
height: auto;
max-height: 70vh;
object-fit: contain;
}
.img-single:hover, .Post img:hover, .Post video:hover {
max-height: fit-content; /* Changez cette valeur selon vos besoins */
}
/* Pour les images multiples, si vous avez une classe dédiée */
.img-multiple {
max-width: 100%;
max-height: auto; /* Ajouté pour maintenir les proportions */
display: block; /* Ajouté pour éviter les espaces blancs autour des images */
box-sizing: border-box; /* Ajouté */
}
.scale-in-hor-center {
-webkit-animation: scale-in-hor-center 15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-hor-center 15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
* Generated by Animista on 2024-7-31 11:16:25
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation scale-in-hor-center
* ----------------------------------------
*/
@-webkit-keyframes scale-in-hor-center {
    0% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        opacity: 1;
    }
}
@keyframes scale-in-hor-center {
    0% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        opacity: 1;
    }
}

.scale-in-center {
    -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0, 0.450, 0.940) 0.2s both;
            animation: scale-in-center 1s cubic-bezier(0.250, 0, 0.450, 0.940) 0.2s both;
}
/* ----------------------------------------------
* Generated by Animista on 2024-7-31 11:36:21
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation scale-in-center
* ----------------------------------------
*/
@-webkit-keyframes scale-in-center {
0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
            opacity: 0.8;
}
50% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
            opacity: 0.3;
    }
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
        opacity: 1;
}
}
@keyframes scale-in-center {
0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.8;
}
50% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: 0.3;
    }
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}
}



@media only screen and (max-width: 1000px) {


        .post-header {
        padding: 0.1rem;
        }
        .post-section {
        padding: 0.1rem;
        }
        .post-content{
        gap: 0.2rem;
        }
        .Post:hover .post-content {
        a:link {
            color: rgb(15, 15, 133);
        }
        a:visited {
            color: rgb(103, 91, 131);
        }
        a:hover {
            color: rgb(17, 17, 190);
        }
        a:active {
            color: rgb(137, 137, 201);
        }
        }
        .Post .post-content {
        padding: 0.2rem;
    }
        .post-footer {
        padding: 0.1rem;
        }
        .spoiler {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        }
        .md code {
        overflow-wrap: break-word;
        word-wrap: break-word;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 0.2rem;
        border-radius: 0.2rem;
        font-size: 1rem;
        }

}