.Post {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 0.5rem;
}

.Post p {
    word-break: break-all;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
    box-sizing: border-box; /* Ajouté */
}

.votes {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.votes a {
    margin-top: 0.3rem;
}

.votes .icon-ups {
    color: rgb(0, 141, 0);
    margin-left: 1rem;
}

.post-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.3rem;
    box-sizing: border-box; /* Ajouté */
   

}

.post-content {
    padding: 0.5rem;
    word-break: break-word; /* Ajouté pour que le texte ne dépasse pas la largeur du conteneur */
    display: flex;
    flex-direction: column;
    align-items: center;
}



.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
    box-sizing: border-box; /* Ajouté */
}

.post-footer > div {
    flex: 1;
    display: flex;
    align-items: center;
}

.post-footer .author {
   justify-content: flex-start;
}


.post-footer .created-date {
    justify-content: center;
    align-content: center;
 }


.post-footer .comments {
    justify-content: flex-end;
 }

.comments {
    display: flex;
    gap: 0.2rem;
    padding: 0.1rem;
    align-items: center;
}

.comments .icon-comments {
    color: blue;
    align-self: center;
    /* padding-top: 0.2rem;
    box-sizing: content-box; */
    margin-top: 0.2rem;
}

.author {
    display: flex;
    gap: 0.4rem;
    padding: 0.1rem;
    align-items: center;
}

.icon-author {
    color: rgb(179, 42, 7);
}

.img-single, .Post img, .Post video {
    max-width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain;
}

/* Pour les images multiples, si vous avez une classe dédiée */
.img-multiple {
    max-width: 100%;
    max-height: auto; /* Ajouté pour maintenir les proportions */
    display: block; /* Ajouté pour éviter les espaces blancs autour des images */
    box-sizing: border-box; /* Ajouté */
}
