.SearchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.SearchBar input {
    padding: 0.3rem;
    border: 1px solid #d1c1c1;
    border-radius: 0.3rem;
    font-size: 0.9rem;
}

  
.SearchBar button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
  }

.SearchBar button svg {
    font-size: 1.3rem;
  }


