.SearchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.3rem;
    position: relative;
    width: 80%;
    max-width: 100%;
}

 input {
    padding: 0.3rem;
    /* border: 1px solid #d1c1c1; */
    height: 5vh;
    width: 100%;
    outline: none;
    padding-left: 1.2rem;
    border-radius: 45px;
    background-color: rgba(189, 197, 204, 0.568);
    border: 1px solid rgb(168, 152, 174);
    font-size: clamp(16px, 14.4px + 0.5vw, 27.2px);

}

input:hover {
  background-color: rgb(189, 197, 204);
}

input::placeholder {
  font-size: clamp(0.5rem, 0.5rem + 0.5vw, 1.4rem);
  /* transform: translateY(0.1rem); */
  font-style: italic;
  font-weight: bold;
  color: rgba(116, 115, 115, 0.822);
}

input:focus::placeholder {
  font-size: clamp(9.6px, 8.686px + 0.286vw, 16px);
  transform: translateY(-1.1rem) translateX(0.5rem);
  color: rgb(66, 34, 136);
}
input:focus {
  outline: 2px solid rgb(189, 172, 196);

  font-size: clamp(16px, 14.4px + 0.5vw, 27.2px);
  background-color: rgb(189, 197, 204);

}

.SearchBar button {
    display: flex;
    position: absolute;
    right: 1.2rem;
    border: none;
    cursor: pointer;
    background: none;
  }

.SearchBar button svg {
  font-size: clamp(16px, 14.4px + 0.5vw, 27.2px);
  }

#searchbar::-webkit-search-cancel-button {
  display: block;
  position: relative;
  right: 2.8rem;
}




@media only screen and (max-width: 1000px) {

  .SearchBar {
    width: 100%;
  }
}





