.App {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    
    
}

.app-header {
    display: flex;
    justify-content: center;
    /* color: rgba(210, 213, 227, 0.637); */
    align-items: center;
    background:
    linear-gradient(70deg, rgb(197, 137, 64), rgba(46, 0, 148, 0.819)),
    linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.8) 75%, rgba(255, 255, 255, 0.5) 100%);
    padding: 0.4rem;
    height: 10vh;
    top: 0px;
    position: sticky;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
    z-index: 1000;

}
/* 
.app-header:focus-within {
  
    background:
        linear-gradient(90deg, rgb(197, 137, 64), rgba(66, 34, 136, 0.819));   
} */

.App:has(aside:hover) section {
   /* overflow-y: unset; */
}

.App:has(aside:hover) section {
    pointer-events: none;
}

.headerleft h1 {
    cursor: default;
    padding: 0.6rem 1.1rem;
    border-radius: 20px;
    font-size: 1.7rem;
    box-shadow: rgba(0, 0, 0, 0.06) 0px -6px 6px 0px inset, 
                rgba(0, 0, 0, 0.05) 0px -9px 7.5px 0px inset, 
                rgba(0, 0, 0, 0.04) 0px -20px 10px 0px inset, 
                rgba(0, 0, 0, 0.03) 0px 0.5px 0.25px, 
                rgba(0, 0, 0, 0.02) 0px 1px 0.5px, 
                rgba(0, 0, 0, 0.01) 0px 2px 1px;
    transition: box-shadow 1s ease-in-out, transform 1s ease-in-out, color 1s ease-in-out;
}

.App h1:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
                rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
                rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
                rgba(0, 0, 0, 0.06) 0px 2px 1px, 
                rgba(0, 0, 0, 0.09) 0px 4px 2px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px;
    color: rgb(190, 190, 190);
    transform: scale(0.7);
    cursor: pointer;
}


.headerleft {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
}

.headercenter {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerright {
    flex: 1;
    display: flex;
    justify-content: stretch;
    /* height: 100%; */
}

main {
    display: flex;
    /* flex-direction: row-reverse; */
    padding: 1rem 7rem 1rem 6rem;
    gap: 10rem;
    background:
    linear-gradient(90deg, rgb(197, 137, 64), rgba(46, 0, 148, 0.819)),
    linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    min-height: 90vh; /* 100vh - header height, avoid background to be blank because of little height due to lack of content */
     flex: 1; /* Occupe tout l'espace disponible après l'en-tête */
  overflow: hidden; /* Empêche le défilement de la page principale */
}

/* .App:has(input:focus) aside {
   display: none;
} */



/* .App aside {
    position: sticky;
    top: calc(1rem + 10vh);
} */
main > :first-child {
    flex: 75vw;
    min-width: 0;
}

main > :last-child {
    flex: 15vw;
    min-width: 0;

}

.app-section {
    display: flex;
    flex-direction: column;
    /* padding: 0.5rem 0; */
    gap: 0.5rem;
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}



aside {
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  */
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    /* padding: 0.5rem; */
    /* border: none; */
    height: fit-content;
    word-break: break-word;
}

#scrollToTopButton {
    position: fixed; /* Position fixe pour rester en bas à droite */
    bottom: 20px; /* Marge par rapport au bas de la fenêtre */
    right: 20px; /* Marge par rapport à la droite de la fenêtre */
    width: 40px; /* Largeur du bouton */
    height: 40px; /* Hauteur du bouton */
    border-radius: 50%; /* Rendre le bouton rond */
    background-color: #333; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    font-size: 24px; /* Taille de la police */
    border: none; /* Supprimer la bordure */
    cursor: pointer; /* Curseur pointer au survol */
    z-index: 9999; /* Assurer que le bouton apparaît au-dessus du contenu */
    transition: margin-right 2s ease-in-out .5s;
}


#scrollToTopButton.visible {
    display: block;
}

.subname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%; /* Adjust this value as needed */
    display: inline-block; /* Ensure the span does not take up more space than necessary */
}