.App {
    display: flex;
    flex-direction: column;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    padding: 0.7rem;
    top: 0px;
    position: sticky;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


header div {
    flex: 1;
}

.headercenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    /* flex-direction: column-reverse; */
    padding: 1rem;
    gap: 0.5rem;
    
}

main > :first-child {
    flex: 75%;
}

main > :last-child {
    flex: 10%;
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; 

}

article {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; 
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    border: none;
    height: fit-content;
}

#scrollToTopButton {
    position: fixed; /* Position fixe pour rester en bas à droite */
    bottom: 20px; /* Marge par rapport au bas de la fenêtre */
    right: 20px; /* Marge par rapport à la droite de la fenêtre */
    width: 40px; /* Largeur du bouton */
    height: 40px; /* Hauteur du bouton */
    border-radius: 50%; /* Rendre le bouton rond */
    background-color: #333; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    font-size: 24px; /* Taille de la police */
    border: none; /* Supprimer la bordure */
    cursor: pointer; /* Curseur pointer au survol */
    z-index: 9999; /* Assurer que le bouton apparaît au-dessus du contenu */
    transition: margin-right 2s ease-in-out .5s;
}


#scrollToTopButton.visible {
    display: block;
}